.movies_category_conteiner{
  /* display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center; */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 15rem));
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 20px;
  gap: 10px;
  margin:0 auto;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.movies_category_conteiner img{
  /* width: 30vw; */
  max-width: 15rem;
  margin: 0 0 10px 0;
}

.categoryPage__header{
  display:flex;
  align-items: center;
  gap: 1rem;
  margin:1rem;
}
