:root{
  --primary: #00595D;
  --dark-primary: #02272D;
  --secondary: #F6F6F6;
  --dark-secondary: #E7D789;
  font-family: 'Sono', sans-serif;
  box-sizing: border-box;
}
body{
  background-color: var(--primary);
  /* margin: 0px; */
  padding: 0px;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
}
img{
  border-radius: 10px;
}
.movies__conteiner{
  /* display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center; */
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 15rem));
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 20px;
  gap: 10px;
  margin:0 auto;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.movies__conteiner img{
  /* width: 30vw; */
  max-width: 15rem;
  margin: 0 0 10px 0;
}
button{
  border: none;
  background-color: var( --dark-secondary);
  color: var(--dark-primary);
  padding: 10px;
  border-radius:10px;
  cursor: pointer;
}